@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

.menu-main {
    list-style: none;
    padding: 0 30px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    position: relative;
    background: white;
}

  

    .menu-main li {
        display: inline-block;
    }

    .menu-main a {
        text-decoration: none;
        display: inline-block;
        margin: 0 15px;
        padding: 10px 30px;
        font-family: 'PT Sans Caption', sans-serif;
        color: #777777;
        transition: .3s linear;
        position: relative;
    }

        .menu-main a:before,
        .menu-main a:after {
            content: "";
            position: absolute;
            top: calc(50% - 3px);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #F58262;
            opacity: 0;
            transition: .5s ease-in-out;
        }

        .menu-main a:before {
            left: 5px;
        }

        .menu-main a:after {
            right: 5px;
        }

        .menu-main a.current:before,
        .menu-main a.current:after,
        .menu-main a:hover:before,
        .menu-main a:hover:after {
            opacity: 1;
        }

        .menu-main a.current,
        .menu-main a:hover {
            color: #F58262;
        }
          
@media(max-width:680px) {
    .menu-main li {
        display: block;

    }
}
.butt {
    margin: 0 30px;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 20px;
    color: chocolate;
    font-weight:700;
}

.sliderbuttons {
    margin: 0 35%;
    text-decoration:none;
}

.exit {
    float: right;
}

.picture {
    width: 300px;
    z-index: 200px;
    margin: -42px 40px;
    float: right;
}

.frame {
    height: 350px;
    border: solid 10px #8B0000;
    display:flex;
}
.text {
    margin: 150px 0 0 100px;
    width: 630px;
    display: inline-block;
    font-family: 'PT Sans Caption', sans-serif;
    color: #777777;
}

.main_text {
    font-size: 50px;
    text-align: center;
    color: darkred;
    text-decoration:none;
}

.item {
    display: flex;
    margin: 100px;
}

.info {
    background: #e9e9e9;
    width: calc(100% - 50px);
    height: 450px;
}
.context {
    margin: 150px 0 0 0;
    display: flex;
    overflow:hidden;
}


