
<link href="@Url.Content("~/Views/Account/login.css")" rel="stylesheet" type="text/css" />
<div>
    Current user: <span>@ViewContext.HttpContext.User.Identity.Name </span>
</div>
<a href="Registration">Регистрация</a>
<form  method="post">
    <table>
        <tr>
            <td>
                UserName
            </td>
            <td>
                <input  type="text" name="userName" required/>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" required/></td>
        </tr>
    </table>
    <div><input type="submit" value="Войти"/></div>
    <div>@ViewBag.Error</div>

</form>