.body {
    background: antiquewhite;
}

.fr {
    margin: 10% auto;
    width: 400px;
    background: white;
    height: 400px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}